<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodDeliverySystem</display-name>
  <welcome-file-list>
    <welcome-file>/jsps/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.com</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.com</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePageServlet</display-name>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <servlet-class>com.servlet.AdminHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePageServlet</servlet-name>
    <url-pattern>/admin.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>com.servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/addcategory.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>com.servlet.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/addfood.com</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AddFoodFilter</display-name>
    <filter-name>AddFoodFilter</filter-name>
    <filter-class>com.servlet.AddFoodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddFoodFilter</filter-name>
    <url-pattern>/addfood.com</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>com.servlet.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/deletefood.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyFoodServlet</display-name>
    <servlet-name>ModifyFoodServlet</servlet-name>
    <servlet-class>com.servlet.ModifyFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFoodServlet</servlet-name>
    <url-pattern>/modifyfood.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifySelectedFoodServlet</display-name>
    <servlet-name>ModifySelectedFoodServlet</servlet-name>
    <servlet-class>com.servlet.ModifySelectedFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifySelectedFoodServlet</servlet-name>
    <url-pattern>/modifyselectedfood.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>com.servlet.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/deletecategory.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHomePageServlet</display-name>
    <servlet-name>UserHomePageServlet</servlet-name>
    <servlet-class>com.servlet.UserHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomePageServlet</servlet-name>
    <url-pattern>/user.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.com</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SignupFilter</display-name>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.servlet.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/signup.com</url-pattern>
  </filter-mapping>
</web-app>